body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
  background: linear-gradient(135deg,#222,#203a43,#2c5364);
  color: #ffffff;
  transition: all 0.4s ease-in-out;
}

body.light-mode{
  background: linear-gradient(135deg,#fbfeff,#2c5364);

}
.stopwatch-container {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  color: #ffffff;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 90vh;
  width: 90%;
  max-width: 700px;
  margin: 100px auto;
  border-radius: 25px;
  box-shadow: 0 0 30px rgba(91, 192, 222, 0.4);
  padding: 80px 30px 40px;
  transition: all 0.4s ease-in-out;
  padding-top: 190px;
}

.buttons{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  justify-content: center;
}

.buttons button,
#toggle{
  font-size: 18px;
  background-color:#1e3092;
  color: #ffffff;
  border-radius: 10px;
  padding: 12px 22px; 
  gap: 10px;  
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-weight: 500;
  letter-spacing: 1px;
  box-shadow: 0 4px 15px rgba(0, 135, 176, 0.4);
}

.buttons button:hover,
#toggle:hover{
  background-color: rgb(91, 207, 227);
  color: #fff;
  transform: scale(1.08);
   box-shadow: 0 4px 15px rgba(0, 135, 176, 0.4);
}

#toggle{
  font-size: 18px;
  background-color: rgb(72, 164, 240);
  color: #000000;
  border-radius: 10px;
  padding: 12px 12px; 
  gap: 10px;  
  cursor: pointer;
  font-weight: 50px;
}


body.light-mode button,
body.light-mode #toggle{
  background-color: #f5f5f5;
  color: #222;
  box-shadow: 0 4px 15px rgba(0, 135, 176, 0.4);
}

body.light-mode button:hover,
body.light-mode #toggle:hover{
  background-color: #f5f5f5;
  color: #222;
  box-shadow: 0 4px 15px rgba(0, 135, 176, 0.4);
}

body.light-mode .stopwatch-container {
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 25px rgba(0,0,0,0.1);
}

body.light-mode button {
  color: #000;
}

